<div class="feed-messages-container">
  <div class="feed-message" *ngFor="let message of feed" (click)="expandMessage(message)">
    <div class="message-icon" *ngIf="config == 'qna' && message.files.length">
      <img class="photo-icon" src="{{ ( message?.files[0]?.url ) }}">
    </div>
    <div class="message-icon" *ngIf="config == 'review' && message.files.length">
      <img class="photo-icon" src="{{ ( message?.files[0]?.url  ) }}">
      <span class="sub-photo-icon" [ngClass]="message.type"></span>
    </div>
    <div class="text-block text-message">
      <div class="message-header">
        <span class="author" *ngIf="config == 'qna'">{{ message.title }} </span>
        <span class="author" *ngIf="config == 'review'">{{ message.name }} </span>
      </div>
      <div class="message-content line-clamp" [ngClass]="{'line-clamp-2' : !message.expanded}" [innerHTML]="message.content"></div>
      <div class="preview" [ngClass]="{'hidden': !message.expanded}" *ngIf="message.files.length && config == 'qna'">
          <img src="{{ ( message?.files[0]?.url )}}">
      </div>
      <div [ngClass]="{'hidden': !message.expanded}" class="message-time">
        <div class="post-time">
          {{ message.created }}
        </div>
        <!--<div class="ago-time">-->
          <!--{{ message.ago }}-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>
