<div class="widgets">
    <ba-card title="Configurations" baCardClass="with-scroll">



      <h4>회사 정보</h4>
      <div class="form-group">
        <label for="company_name">회사 이름</label>
        <input [(ngModel)]="metaData.company_name" type="text" class="form-control" id="company_name" placeholder="회사이름/사이트명을 입력하세요.">
      </div>

      <h5>화사 이름 조사 선택</h5>
      <div class="row">
        <div class="col-4">
          <label for="company_name_variation_option1" class="radio-inline nowrap">
            <input type="radio" name="company_name_variation" id="company_name_variation_option1" [(ngModel)]="metaData.company_name_variation" value="을">
            <span> {{metaData.company_name}} 을/은/과</span>
          </label>
        </div>
        <div class="col-4">
          <label for="company_name_variation_option2" class="radio-inline nowrap">
            <input type="radio" name="company_name_variation" id="company_name_variation_option2" [(ngModel)]="metaData.company_name_variation" value="를">
            <span> {{metaData.company_name}} 를/는/와</span>
          </label>
        </div>
      </div>



      <hr>

      <div class="form-group">
        <label for="company_email">이메일</label>
        <input [(ngModel)]="metaData.company_email" type="text" class="form-control" id="company_email" placeholder="이메일">
      </div>
      <div class="form-group">
        <label for="phone_number">전화번호</label>
        <input [(ngModel)]="metaData.phone_number" type="text" class="form-control" id="phone_number" placeholder="전화번호">
      </div>

      <h4>사이트 로고</h4>

<div class="form-files clearfix">
    <div class="file w-25 float-left" *ngFor=" let file of files "
        style="position: relative;">

        <div (click)=" onClickDeleteFile( file ) "
            class="p-2 bg-primary" style="position: absolute; left: 2px; bottom: 2px;">
            X
        </div>

        <img style="width: 100%" src="{{ file.url + '&crop=100x100x70' }}">
    </div>
</div>

<div class="form-group">
    <label for="file-box">Upload Photos</label>
    <div *ngIf=" percentage " class="progress mb-2">
        <div class="progress-bar" role="progressbar" [style.width]=" percentage + '%' ">{{ percentage }} %</div>
    </div>

    <input type="file" class="form-control-file" id="file-box" #file (change)="onChangeFile(file)">
    <small class="form-text text-muted">Please select a photo to upload</small>
</div>




      <hr>

      <h4>카피라이트 ( 하단 회사 정보 )</h4>
      <div class="form-group">
        <label for="copyright_line1">첫번째 줄 ( 회사 명, 전화번호, 연락처 등 적당한 정보 )</label>
        <input [(ngModel)]="metaData.copyright_line1" type="text" class="form-control" id="copyright_line1" placeholder="첫번째 줄 정보 입력">
      </div>

      <div class="form-group">
        <label for="copyright_line2">두번째 줄 ( 회사 등록 번호, 통신 판매업 번호 등 적당한 정보 )</label>
        <input [(ngModel)]="metaData.copyright_line2" type="text" class="form-control" id="copyright_line2" placeholder="두번째 줄 정보 입력">
      </div>

      <div class="form-group">
        <label for="copyright_line3">세번째 줄 ( 개인 정보 관리 규정, 담당자 등 적당한 정보 )</label>
        <input [(ngModel)]="metaData.copyright_line3" type="text" class="form-control" id="copyright_line3" placeholder="세번째 줄 정보 입력">
      </div>

      <div class="form-group">
        <label for="copyright_line4">맨 하단 카피라이트 ( Copyright (C) 2017 All Right .... 등 )</label>
        <input [(ngModel)]="metaData.copyright_line4" type="text" class="form-control" id="copyright_line4" placeholder="Copyright (C) 2017 All Rights Reserved By ....">
      </div>


      <div class="d-flex justify-content-center button-wrapper ">
        <button type="button" class="btn btn-primary btn-raised col-4"  (click)="onClickSaveMeta()">저장하기</button>
      </div>


    </ba-card>
</div>



