<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{modalHeader}}</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{modalContent}}
    <div class="input-group mt-3">
      <span class="input-group-addon input-group-addon-primary addon-left">New Password</span>
      <input [(ngModel)]="newPassword" type="password" class="form-control with-primary-addon" placeholder="New Password">
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary confirm-btn mr-3" (click)="onClickSaveNewPassword()">Save New Password</button>
    <button class="btn btn-secondary confirm-btn mr-3" (click)="closeModal()">Cancel</button>
  </div>
</div>

